body {
  padding-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
  margin: 0;
  padding: 0;
}

#header, #rightP, #leftP {
  background-color: #d32323;
  color: white;
  padding-bottom: 10px;
}

#leftP {
  width: 50%;
  float: left;
}

#leftP span {
  padding-left: 10px;
}

#rightP {
  float: right;
  width: 50%;
  text-align: right;
}

#rightP span {
  padding-right: 10px;
}

#header {
  background-color: #d32323;
  padding-top: 10px;
}

#header span {
  padding-left: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

h1 {
  margin-bottom: 0px;
}

#title {
  font-size: 30px;
}

#ageYelpPlot {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

#ourAverages {
  float: none;
  margin-top: 80px;
}

#ourLegend {
  padding-bottom: 10px;
}

#divForSlider {
  color: #d32323;
  background-color: #fcd6d3;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* .gridlines line {
  stroke: black;
} */

.gridlines .domain {
  stroke : none;
}

/* .ticks text {
  fill : white
} */

/* input {
  -webkit-appearance: none;
  height: 25px;
  width: 100%;
} */
